/.idea
/node_modules
/public/hot
/public/storage
/public/category-images
/public/posture-images
/public/posture-pdf
/public/movement-videos
/public/result/before-after-images
/public/result/final-progress-photos
/public/result/temp-progress-photos
/public/result/gallery-images
/public/attachment-file
/public/pdf-invoices
/public/uploads
/storage/*.key
/vendor
/storage/framework/*
/storage/logs/*
/storage/framework/cache/*
/uploads/*
/pdf-invoices/*
/publicx/*
/publicnew/*
/public.old/*
.env
composer.json
composer.lock
/app/Http/routes.php
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
laravel-echo-server.json


